.nav-bar {
    font-family: 'Outfit', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2% 2% 2% 0;
}

.moi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
}